@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
  @apply w-full mx-auto my-0;
  @layer max-w-screen-[1900px];
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
}

input,
textarea {
  @apply border bg-black p-2 rounded-xl placeholder:text-sm;
  @layer placeholder:text-ligthGreen;
}

section {
  @apply flex flex-col justify-center items-center;
}
